<div class="page-header">
  <h2>Add a New Contact</h2>
</div>
<hr>
<div class="row">
  <div class="col-md-12">
    <h3 class="text-justify">
      <code>TODO: Create new contact form with save and a cancel button!!</code>
    </h3>
    <hr>
    <div class="card">
      <div class="card-body">
        <form #contactForm="ngForm" (ngSubmit)="onSubmit()">
          <contact-book-contact-form [contact]="contact"></contact-book-contact-form>
        </form>
      </div>
      <!-- Card Footer -->
      <div class="card-footer">
        <button class="btn btn-warning" (click)="newContact(); contactForm.reset()">
          New Contact
        </button>
        <button class="btn btn-success" [disabled]="!contactForm.form.valid" (click)="onSubmit()">
          Submit
        </button>
      </div>
    </div>
  </div>
</div>