<div class="page-header">
  <h2>Add a New Contact</h2>
</div>
<hr>
<div class="row">
  <div class="col-md-12">
    <h3 class="text-justify">
      <code>TODO: Create new contact form with save and a cancel button!!</code>
    </h3>
    <hr>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <p class="text-center">
      Check out the contact form repository to finish this task. check the api doc
      <br>
      <a href="https://mini-crm-api.herokuapp.com/doc" class="btn btn-sm btn-primary">API DOC</a>
    </p>
  </div>
</div>
