.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid #42A948;
  /* green */
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442;
  /* red */
}
.field{
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 10px 2px #efefef;
  padding: 20px 23px;
  border: none;
  border-radius:2px !important;
  font-family: AkkuratRegular;
}