<div class="card contact-card">
  <div class="card-body">
    <div class="row align-items-center">
      <div class="col-md-3 mx-auto text-nowrap text-center px-2">
        <a href="" class="btn btn-primary btn-rounded">
          MC
        </a>
      </div>
      <div class="col-md-7 text-center text-lg-left">
        <h3 class="d-inline">Mary Chesnut</h3>
        <h6>Job Title</h6>
      </div>
      <div class="col-md-2 text-center text-lg-left">
        <a href="" class="text-danger h5">
          <i class="fa fa-trash"></i>
        </a>
        <a href="" class="text-primary h5">
          <i class="fa fa-pencil"></i>
        </a>
      </div>
    </div>
  </div>
</div>
