
<div class="card card-contact-sizing bloc-shadow" style="width: 21rem;" >
  <div class="card-body adjust-padding-card">
    <h5 class="card-title">{{contact.firstName}} {{contact.lastName}}</h5>
    <p class="card-text"> email: {{contact.email}}.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">phone:{{contact.phone}}.</li>
    <li class="list-group-item">address : {{contact.addres}}. </li>
  </ul>
  <p class="adjust-padding-card"> Bio: {{contact.bio}}</p>
  <div class="card-body">
    <a (click)="delete(contact)"  class="text-danger h5" >
      <i class="fa fa-trash"></i>
    </a>
    <a (click)="favorite(contact)"  class="text-danger h5" >
      <i class="fa fa-star-o"></i>
    </a>
    <a [routerLink]="['/contacts', contact._id]" class="text-primary h5">
      <i class="fa fa-pencil"></i>
    </a>
  </div>
</div>
