<nav class="navbar navbar-dark bg-dark" style="background-color: #333;">
  <a class="navbar-brand" href="#" style="color:#fff;">
    <img src="/assets/logo.svg" width="30" height="30" class="d-inline-block align-top" alt=""> Contacts Book
  </a>
</nav>
<div class="container-fluid">
  <div class="row d-flex d-md-block flex-nowrap wrapper">
    <div class="col-md-2 float-left col-1 pl-0 pr-0 collapse width show" id="sidebar">
      <div class="list-group border-0 card text-center text-md-left">
        <a href="#" class="list-group-item d-inline-block collapsed" data-parent="#sidebar">
          <i class="fa fa-bar-chart-o"></i>
          <span class="d-none d-md-inline">Dashboard</span>
        </a>
        <a href="#" class="list-group-item d-inline-block collapsed" data-parent="#sidebar">
          <i class="fa fa-book"></i>
          <span class="d-none d-md-inline">Contacts List</span>
        </a>
        <a href="#" class="list-group-item d-inline-block collapsed" data-parent="#sidebar">
          <i class="fa fa-star"></i>
          <span class="d-none d-md-inline">Favorited Contacts</span>
        </a>
        <a href="#" class="list-group-item d-inline-block collapsed" data-parent="#sidebar">
          <i class="fa fa-plus"></i>
          <span class="d-none d-md-inline">Add a New Contact</span>
        </a>
        <a href="#" class="list-group-item d-inline-block collapsed" data-parent="#sidebar">
          <i class="fa fa-gear"></i>
          <span class="d-none d-md-inline">Profile Settings</span>
        </a>
      </div>
    </div>

    <main class="col-md-10 float-left col px-5 pl-md-2 pt-2 main">
      <a href="#" data-target="#sidebar" data-toggle="collapse">
        <i class="fa fa-navicon fa-2x py-2 p-1"></i>
      </a>
      <div class="page-header">
        <h2>Bootstrap 4 Sidebar Menu</h2>
      </div>
      <p class="lead">A responsive, multi-level vertical accordion.</p>
      <hr>
      <div class="row">
        <div class="col-md-6">
          <button role="button" class="btn btn-danger" data-toggle="collapse" data-target="#demo" aria-expanded="true">
            horizontal collapsible
          </button>
          <div id="demo" class="width collapse show" aria-expanded="true">
            <div class="list-group" style="width: 400px;">
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.
                Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.
                Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <button role="button" class="btn btn-danger" data-toggle="collapse" data-target="#demo2" aria-expanded="true">
            vertical collapsible
          </button>
          <div id="demo2" class="height collapse show" aria-expanded="true">
            <div>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.
                Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.
                Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
