<div class="col-md-2 float-left col-1 pl-0 pr-0 collapse width show" id="sidebar">
  <div class="list-group border-0 card text-center text-md-left">
    <!-- <a routerLink="dashboard" routerLinkActive="active" class="list-group-item d-inline-block collapsed" data-parent="#sidebar">
      <i class="fa fa-bar-chart-o"></i>
      <span class="d-none d-md-inline">Dashboard</span>
    </a> -->
    <a routerLink="contacts" routerLinkActive="active" class="list-group-item d-inline-block collapsed" data-parent="#sidebar">
      <i class="fa fa-book"></i>
      <span class="d-none d-md-inline">Contacts List</span>
    </a>
    <a routerLink="favorites" routerLinkActive="active" class="list-group-item d-inline-block collapsed" data-parent="#sidebar">
      <i class="fa fa-star"></i>
      <span class="d-none d-md-inline">Favorited Contacts</span>
    </a>
    <a routerLink="new-contact" routerLinkActive="active" class="list-group-item d-inline-block collapsed" data-parent="#sidebar">
      <i class="fa fa-plus"></i>
      <span class="d-none d-md-inline">Add a New Contact</span>
    </a>
    <a routerLink="profile" routerLinkActive="active" class="list-group-item d-inline-block collapsed" data-parent="#sidebar">
      <i class="fa fa-gear"></i>
      <span class="d-none d-md-inline">Profile Settings</span>
    </a>
  </div>
</div>
